$color-primario: #3a7569
$fuente-principal: 'Inter', sans-serif
$text-primary: #ddddddff
$text-secondary: #8f8f8fff
$text-dark: #212121
$alternative1: #C1DBE3
$alternative2: #C7DFC5
$alternative3: #F0F7EE
$alternative4: #AFB3F7
$alternative5: #C1BCAC
$alternative6: #96C5F7

html
  overflow-y: auto

.markdown-view
  // padding: 10px
  border-radius: 4px
  line-height: 1.6

  h1
    letter-spacing: 0.7px
    padding-bottom: 50px

  h2
    border-bottom: 2px solid $color-primario
    padding-bottom: 5px
    margin-top: 30px
    margin-bottom: 20px
    letter-spacing: 3px

  a
    color: $color-primario
    text-decoration: none

    &:hover
      text-decoration: underline
  p
    margin-bottom: 15px
    font-size: 1em
    letter-spacing: 0.9px

  .metadata-container
    font-family: $fuente-principal
    font-size: 0.95em
    margin: 10px
    padding: 20px
    border: 1px solid rgba($color-primario, 0.7)
    border-radius: 4px
    background-color: rgba($color-primario, 0.1)
    .metadata-item
      margin-bottom: 8px

      span.label
        font-weight: bold

      span.value
        margin-left: 5px
  span
    letter-spacing: 0.9px

.lastlinemetadata
  line-height: 1.4!important

.layout
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  height: 100vh
  overflow-y: auto

  @media (max-width: 960px)
    flex-direction: column
    align-items: center

.tagscloud
  margin-top: 20px
  display: flex
  flex-wrap: wrap
  border-radius: 30px
  border: 1px solid rgba($color-primario, 0.7)
  background: #0F2027
  background: -webkit-linear-gradient(to right, #2c5364a6, #203a432a, #0f2027b3)
  background: linear-gradient(to right, #2c5364a6, #203a4329, #0f2027b3)
  color: $text-secondary
  justify-content: center

  .tag
    background-color: $alternative5
    color: $text-dark
    padding: 5px 10px
    border-radius: 15px
    font-size: 0.85em
    font-weight: 700
    margin: 2px

.recent-articles
  text-decoration: none
  color: inherit
  padding-bottom: 8px
  &:hover
    text-decoration: underline
  div
    margin-bottom: 5px

  span.by
    font-style: italic
  .title
    padding: 8px
    font-weight: bold
    font-size: 1em
    line-height: 1.5
  .subtitle
    padding: 8px
    font-size: 0.9em

.social-icons
  justify-content: center
  gap: 15px
  v-icon
    color: $color-primario
    font-size: 28px
    cursor: pointer
    transition: transform 0.2s

    &:hover
      transform: scale(1.5)


.sidebar-title  
  font-size: 1.5em
  font-weight: bold
  color: $alternative2
  text-align: center
  padding-bottom: 8px
  letter-spacing: 1px

.sidebar-subtitle
  font-size: 0.9em
  color: $alternative5

.recent-articles-view
    padding-top: 30px
    .title
      margin-top: 15px
      margin-bottom: 10px
    .subtitle
      margin-bottom: 30px