@use 'font'
$color-primario: #3a7569
$fuente-principal: 'Inter', sans-serif
$fuente-secundaria: 'Montserrat', sans-serif
$text-primary: #ddddddff
$text-secondary: #8f8f8fff
$text-dark: #212121
$alternative1: #C1DBE3
$alternative2: #C7DFC5
$alternative3: #F0F7EE
$alternative4: #AFB3F7
$alternative5: #C1BCAC
$alternative6: #96c5f727


html
  overflow-y: auto

.markdown-container
  background-color: $text-dark
  font-family: $fuente-principal
  min-height: 100vh
  padding: 40px



@media screen and (max-width: 600px) 
  .markdawn-content
    img
      margin: 0 auto
      display: block
      width: 80vw

@media screen and (min-width: 601px) and (max-width: 960px)
  .markdawn-content
    img
      margin: 0 auto
      display: block
      width: 60vw
  .markdown-container
    padding: 5vh

@media screen and (min-width: 961px) and (max-width: 1599px)
  .markdawn-content
    img
      margin: 0 auto
      display: block
      width: 50vw
  .markdown-container
    padding: 5vh 10vh 5vh 10vh

@media screen and (min-width: 1600px)
  .markdawn-content
    img
      margin: 0 auto
      padding: 2rem
      display: block
      width: 40vw
  .markdown-container
    padding: 10vh 20vh 10vh 20vh

.markdown-view
  border-radius: 4px
  line-height: 1.6

  h1
    letter-spacing: 0.7px
    padding-bottom: 50px

  h2
    border-bottom: 2px solid $color-primario
    padding-bottom: 5px
    margin-top: 30px
    margin-bottom: 20px
    letter-spacing: 3px

  a
    color: $color-primario
    text-decoration: none

    &:hover
      text-decoration: underline
  p
    margin-bottom: 15px
    font-size: 1em
    letter-spacing: 0.9px

  .metadata-container
    font-family: $fuente-principal
    font-size: 0.95em
    margin: 10px
    padding: 20px
    border: 1px solid rgba($color-primario, 0.7)
    border-radius: 4px
    background-color: rgba($color-primario, 0.1)
    .metadata-item
      margin-bottom: 8px

      span.label
        font-weight: bold

      span.value
        margin-left: 5px
  span
    letter-spacing: 0.9px

.lastlinemetadata
  line-height: 1.4!important
// Sidebar Styles
.layout
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  height: 100vh
  overflow-y: auto

  @media (max-width: 960px)
    flex-direction: column
    align-items: center

.tagscloud
  margin-top: 20px
  display: flex
  flex-wrap: wrap
  border-radius: 30px
  border: 1px solid rgba($color-primario, 0.7)
  background: #0F2027
  background: -webkit-linear-gradient(to right, #2c5364a6, #203a432a, #0f2027b3)
  background: linear-gradient(to right, #2c5364a6, #203a4329, #0f2027b3)
  color: $text-secondary
  justify-content: center

  .tag
    background-color: $alternative5
    color: $text-dark
    padding: 5px 10px
    border-radius: 15px
    font-size: 0.85em
    font-weight: 700
    margin: 2px

.recent-articles
  text-decoration: none
  color: inherit
  padding-bottom: 8px
  &:hover
    text-decoration: underline
  div
    margin-bottom: 5px

  span.by
    font-style: italic
  .title
    padding: 8px
    font-weight: bold
    font-size: 1em
    line-height: 1.5
  .subtitle
    padding: 8px
    font-size: 0.9em

.social-icons
  justify-content: center
  gap: 15px
  v-icon
    color: $color-primario
    font-size: 28px
    cursor: pointer
    transition: transform 0.2s

    &:hover
      transform: scale(1.5)

.sidebar-title
  font-size: 1.5em
  font-weight: bold
  color: $alternative2
  text-align: center
  padding-bottom: 8px
  letter-spacing: 1px

.sidebar-subtitle
  font-size: 0.9em
  color: $alternative5

.recent-articles-view
  padding-top: 30px
  .title
    margin-top: 15px
    margin-bottom: 10px
    .subtitle
      margin-bottom: 30px

// Index Grid Styles

.parent
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(200px, auto))
  grid-template-rows: repeat(5, 1fr)
  grid-column-gap: 10px
  grid-row-gap: 10px
  padding: 50px
  height: auto

  background: linear-gradient(-45deg, $alternative1, $alternative2, $alternative3, $alternative4)
  background-size: 400% 400%
  animation: gradient 15s ease infinite
  align-items
    height: auto

@keyframes gradient
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

@media screen and (min-width: 1460px)

  .div1
    grid-area: 1 / 1 / 2 / 4
    border: 2px solid $alternative4
    border-radius: 8px

  .div2
    grid-area: 1 / 4 / 2 / 5
    border: 2px solid $alternative5
    border-radius: 8px

  .div3
    grid-area: 1 / 5 / 2 / 6
    border: 2px solid $alternative1
    border-radius: 8px
  .div4
    grid-area: 2 / 4 / 3 / 6
    border: 2px solid $alternative4
    border-radius: 8px

  .div5
    grid-area: 2 / 2 / 3 / 4
    border: 2px solid $alternative5
    border-radius: 8px

  .div6
    grid-area: 3 / 1 / 3 / 2
    border: 2px solid $alternative1
    border-radius: 8px

  .index-text-sm
    font-size: 0.8em

@media screen and (max-width: 1460px)

  .div1
    grid-area: 3 / 1 / 4 / 3
  .div2
    grid-area: 1 / 1 / 2 / 5
  .div3
    grid-area: 2 / 3 / 3 / 5
  .div4
    grid-area: 4 / 1 / 5 / 3
  .div5
    grid-area: 4 / 3 / 5 / 5
  .div6
    grid-area: 5 / 1 / 6 / 5

@media screen and (max-width: 770px)
  .parent
    grid-template-columns: repeat(1, 1fr)
    grid-template-rows: repeat(6, 1fr)

  .div1
    grid-area: 1 / 1 / 2 / 2
    height: 30vh

  .div2
    grid-area: 2 / 1 / 3 / 2
    height: 30vh

  .div3
    grid-area: 3 / 1 / 4 / 2
    height: 30vh

  .div4
    grid-area: 4 / 1 / 5 / 2

  .div5
    grid-area: 5 / 1 / 6 / 2

  .div6
    grid-area: 6 / 1 / 7 / 2

@media screen and ( max-width: 615px)
  .parent
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))

// Cards colors

.div1-card
  background-color: #907f9f
  font-family: $fuente-principal
.div2-card
  background-color: #212121
.div3-card
  background-color: #5b9279
  font-family: $fuente-secundaria
.div4-card
  background-color: #212121
  font-family: $fuente-principal
.div5-card
  background-color: #748cab
.div6-card
  background-color: #d7263d
